# CMake files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
cmake-build-*/
.cmake/
Testing/

# Build tools
Makefile
.ninja_log
.ninja_deps
build.ninja

# Build outputs
linkerscripts/symstemp.ld
release/
script.json

# IDEs and editors
.idea/
.vscode/

# Config
config.cmake
