# Used for FTP
set(SWITCH_IP 192.168.1.1)

# Used for logging
set(LOGGER_IP 192.168.1.1)
set(LOGGER_PORT 5123)

set(SWITCH_TARGET bd_13)

add_compile_definitions(
        AFFECTION_ENABLED=true
        EXP_SHARE_ENABLED=true
        TIME_PENALTY_ENABLED=true
        RELEASE=true
)