%rename link                old_link

*link:
%(old_link) -T ROOT_DIR/linkerscripts/symbols.ld -T ROOT_DIR/linkerscripts/application.ld --shared --gc-sections --build-id=sha1 --build-id=sha1

*startfile:
crti%O%s crtbegin%O%s
